html, body {
    margin: 0;
    font: inherit;
    font-family: 'Calibri'
}

h1 {
    font-size: 40px;
    color: #2D5D7B;
}

h2 {
    font-size:30px;
    color: #247BA0;
}

header {
    display: block;
    width: 100%;

}

input[type=submit] {
    border:none;
    background-color:#d1d1d1;
    color:#1F2421;
    padding:10px;
}

input[type=text] {
    border:none;
    background-color:white;
    padding:10px;
}

.header_img {
    height:400px;
    align-content: center;
    background-size: cover;
    background: url("https://images.unsplash.com/photo-1566707675793-3ec9e5590bb6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60");
}

.menu {
    position:relative;
    margin-top:110px;
    padding:5px;
    text-align: center;
    background-color: #9CC5A1;
}

.menu ul {
    margin: 8px;
}

.menu li {
    display: inline-block;
    padding: 0px 30px;
}

.menu a {
    text-decoration: none;
    letter-spacing:2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #1F2421;
}

.container {
    position: relative;
    text-align:center;
    width:100%;
}

.centered {
    margin-left:auto;
    margin-top:-270px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:100px;
    text-shadow: -7px 3px 4px rgba(171,171,171,0.73);
}

.gallery {
    display: grid;
    width:100%;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 5px;
}

.row {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 4px;
  }
  
.column {
    flex: 50%;
    padding: 0px 4px;
  }
  
.column img {
    margin-top: 10px;
    padding:0px 20px;
    vertical-align: middle;
  }

.column p {
     display:inline-block;
     text-align:justify;
     font-family: 'Calibri';
     width:300px;
     margin-top: 8px;
     vertical-align: middle;
  }


  .grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    margin-left:20px;
    padding: 5px;
  }
  
  .grid-container > div {
    text-align: center;
    padding: 20px 0;
    font: 14px 'Calibri';

  }
  

  .item1 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .item2 {
      grid-row-start:1;
      grid-row-end:2;
      grid-column-start:4;
      grid-column-end: 6;
      width:400px;
  }

.container_contrib {
    margin-left:80px;
    margin-top: -20px;
    padding:10px 10px 50px 20px;
    width: 85%;
    text-align:center;
}

.newsletter_container {
    width:100%;
    background-color: #F5F5F5;
    padding:20px;
}

.cropped { 
    object-fit: cover 
}

.contact_container {
    text-align:center;
    margin-left:250px;
    width:60%;
    background-color: #F5F5F5;
    padding:20px;
}

.footer {
    width: 100%;
    margin:0;
    padding:10px;
    background-color:#9cc5bc;
}